<div class="list-container">
  <h2>Visitor List</h2>

  <div class="controls">
    <input
      type="text"
      placeholder="Search by name..."
      [(ngModel)]="searchQuery"
    />

    <button class="icon-btn" title="Sort" (click)="toggleSort()">
      <i class="fas fa-sort"></i>
    </button>
    <button class="icon-btn" title="Filter" (click)="toggleFilterModal()">
      <i class="fas fa-filter"></i>
    </button>
  </div>

    <div class="filter-modal" *ngIf="showFilterModal">
  <div class="filter-modal-content">
    <h3>Filter Visitors</h3>

    <label>
      Status:
      <select [(ngModel)]="filterStatus" name="filterStatus">
        <option value="">All</option>
        <option value="Inside">Inside</option>
        <option value="Checked Out">Checked Out</option>
      </select>
    </label>

    <label>
      Host:
      <select [(ngModel)]="filterHostId" name="filterHostId">
        <option value="">All</option>
        <option *ngFor="let host of hosts" [value]="host.hostId">{{ host.fullName }}</option>
      </select>
    </label>

    <div class="modal-actions">
      <button class="btn-apply" (click)="toggleFilterModal()">Apply</button>
      <button class="btn-clear" (click)="clearFilters()">Clear</button>
    </div>
  </div>
</div>

  <div class="table-wrapper" *ngIf="rowData.length>0">
    <ag-grid-angular
    class="ag-theme-alpine"
    style="width: 100%; height: 500px;"
    [rowData]="filteredVisitors"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    (cellClicked)="onGridCellClicked($event)"
    [pagination]="true"
    [paginationPageSize]="10"
    [animateRows]="true"
  >
    <!-- <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Purpose</th>
          <th>Host</th>
          <th>Status</th>
          <th>Checkin At</th>
          <th>Checkout At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let visitor of filteredVisitors">
          <td>{{ visitor.fullName }}</td>
          <td>{{ visitor.email }}</td>
          <td>{{ visitor.purpose }}</td>
          <td>{{ visitor.visits[0].host.fullName }}</td>
          <td>{{ visitor.visits[0].visitStatus }}</td>
          <td>{{ visitor.visits[0].checkInTime | date:'short' }}</td>
          <td>
            {{ visitor.visits[0].checkOutTime ? (visitor.visits[0].checkOutTime
            | date:'short') : 'Yet to checkout' }}
          </td>

          <td class="actions">
            <button class="btn-edit" (click)="onEdit(visitor)">Edit</button>
            <button class="btn-delete" (click)="onDelete(visitor.visitorId)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
    </ag-grid-angular>
  </div>

  <!-- Edit Popup Modal -->
  <div class="edit-modal" *ngIf="editingVisitor">
    <div class="edit-modal-content">
      <h3>Edit Visit</h3>
      <form (ngSubmit)="saveVisitor()" #editForm="ngForm">
        <label>
          Name:
          <input
            type="text"
            [(ngModel)]="editingVisitor.fullName"
            name="name"
            readonly
          />
        </label>

        <label>
          Email:
          <input
            type="email"
            [(ngModel)]="editingVisitor.email"
            name="email"
            readonly
          />
        </label>

        <label>
          Host:

          <select
            [(ngModel)]="editingVisitor.visits[0].hostId"
            name="host"
            required
          >
            <option value="" disabled selected>Select Host</option>
            <option *ngFor="let host of hosts" [value]="host.hostId">
              {{ host.fullName }}
            </option>
          </select>
        </label>

        <label>
          Status:
          <select
            [(ngModel)]="editingVisitor.visits[0].visitStatus"
            name="status"
            required
          >
            <option>Inside</option>
            <option>Checked Out</option>
          </select>
        </label>

        <div class="modal-actions">
          <button type="submit" class="btn-save">Save Changes</button>
          <button type="button" class="btn-cancel" (click)="cancelEdit()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>


</div>
