<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">InOutly</div>

    <div class="nav-links" [class.mobile-open]="isMobileMenuOpen">
      <a routerLink="/admin/dashboard" >Dashboard</a>
      <a routerLink="/admin/visitor-list" >Visitors</a>
      
      <ng-container *ngIf="isAdminLoggedIn; else loginBtn">
        <button (click)="logoutAdmin()">Logout</button>
      </ng-container>
      <ng-template #loginBtn>
        <button routerLink="">Login</button>
      </ng-template>
    </div>

    <button class="hamburger" (click)="toggleMobileMenu()">
      ☰
    </button>
  </div>
</nav>
