<div class="list-container">
  <h2>Visitor List</h2>

  <div class="controls">
    <input
      type="text"
      placeholder="Search by name..."
      [(ngModel)]="searchQuery"
    />

    <button class="icon-btn" title="Sort" (click)="toggleSort()">
      <i class="fas fa-sort"></i>
    </button>
    <button class="icon-btn" title="Filter" (click)="toggleFilterModal()">
      <i class="fas fa-filter"></i>
    </button>
  </div>

  <div class="filter-modal" *ngIf="showFilterModal">
    <div class="filter-modal-content">
      <h3>Filter Visitors</h3>

      <label>
        Status:
        <select [(ngModel)]="filterStatus" name="filterStatus">
          <option value="">All</option>
          <option value="Inside">Inside</option>
          <option value="Checked Out">Checked Out</option>
        </select>
      </label>

      <label>
        Host:
        <select [(ngModel)]="filterHostId" name="filterHostId">
          <option value="">All</option>
          <option *ngFor="let host of hosts" [value]="host.hostId">
            {{ host.fullName }}
          </option>
        </select>
      </label>

      <div class="modal-actions">
        <button class="btn-apply" (click)="toggleFilterModal()">Apply</button>
        <button class="btn-clear" (click)="clearFilters()">Clear</button>
      </div>
    </div>
  </div>

  <div class="table-wrapper" *ngIf="rowData.length>0">
    <ag-grid-angular
      class="ag-theme-alpine"
      style="width: 100%; height: 500px"
      [rowData]="filteredVisitors"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      (cellClicked)="onGridCellClicked($event)"
      [pagination]="true"
      [paginationPageSize]="10"
      [animateRows]="true"
    >
      <!-- <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Purpose</th>
          <th>Host</th>
          <th>Status</th>
          <th>Checkin At</th>
          <th>Checkout At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let visitor of filteredVisitors">
          <td>{{ visitor.fullName }}</td>
          <td>{{ visitor.email }}</td>
          <td>{{ visitor.purpose }}</td>
          <td>{{ visitor.visits[0].host.fullName }}</td>
          <td>{{ visitor.visits[0].visitStatus }}</td>
          <td>{{ visitor.visits[0].checkInTime | date:'short' }}</td>
          <td>
            {{ visitor.visits[0].checkOutTime ? (visitor.visits[0].checkOutTime
            | date:'short') : 'Yet to checkout' }}
          </td>

          <td class="actions">
            <button class="btn-edit" (click)="onEdit(visitor)">Edit</button>
            <button class="btn-delete" (click)="onDelete(visitor.visitorId)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
    </ag-grid-angular>
  </div>

  <!-- Edit Popup Modal -->
  <div class="edit-modal" *ngIf="editingVisitor">
    <div class="edit-modal-content">
      <h3>Edit Visit</h3>
      <form (ngSubmit)="saveVisitor()" #editForm="ngForm">
        <label>
          Name:
          <input
            type="text"
            [(ngModel)]="editingVisitor.fullName"
            name="name"
            readonly
          />
        </label>

        <label>
          Email:
          <input
            type="email"
            [(ngModel)]="editingVisitor.email"
            name="email"
            readonly
          />
        </label>

        <label>
          Host:

          <select
            [(ngModel)]="editingVisitor.visits[0].hostId"
            name="host"
            required
          >
            <option value="" selected disabled>Select Host</option>
            <option *ngFor="let host of hosts" [value]="host.hostId">
              {{ host.fullName }}
            </option>
          </select>
        </label>

        <label>
          Status:
          <select
            [(ngModel)]="editingVisitor.visits[0].visitStatus"
            name="status"
            required
          >
            <option>Inside</option>
            <option>Checked Out</option>
          </select>
        </label>

        <label>
          Phone Number:
          <input
            type="text"
            [(ngModel)]="editingVisitor.phoneNumber"
            name="phoneNumber"
          />
        </label>

        <label>
          Address:
          <input
            type="text"
            [(ngModel)]="editingVisitor.address"
            name="address"
          />
        </label>

        <label>
          Company Name:
          <input
            type="text"
            [(ngModel)]="editingVisitor.companyName"
            name="companyName"
          />
        </label>

        <label>
          Purpose:
          <input
            type="text"
            [(ngModel)]="editingVisitor.purpose"
            name="purpose"
          />
        </label>

        <label>
          Comment:
          <textarea
            [(ngModel)]="editingVisitor.comment"
            name="comment"
          ></textarea>
        </label>

        <label>
          ID Proof Type:
          <input
            type="text"
            [(ngModel)]="editingVisitor.idProofType"
            name="idProofType"
          />
        </label>

        <label>
          ID Proof Number:
          <input
            type="text"
            [(ngModel)]="editingVisitor.idProofNumber"
            name="idProofNumber"
          />
        </label>

        <label>
          License Plate Number:
          <input
            type="text"
            [(ngModel)]="editingVisitor.licensePlateNumber"
            name="licensePlateNumber"
          />
        </label>

        <label>
          Photo URL:
          <input
            type="file"
            [(ngModel)]="editingVisitor.photoUrl"
            name="photoUrl"
          />
        </label>

        <label>
          Pass Code:
          <input
            type="text"
            [(ngModel)]="editingVisitor.passCode"
            name="passCode"
          />
        </label>

        <!-- <label>
          QR Code Data:
          <input
            type="text"
            [(ngModel)]="editingVisitor.qrCodeData"
            name="qrCodeData"
          />
        </label> -->

        <label>
          Pre-Registered:
          <input
            type="checkbox"
            [(ngModel)]="editingVisitor.isPreRegistered"
            name="isPreRegistered"
          />
        </label>

        <label>
          Expected Visit Time:
          <input
            type="datetime-local"
            [(ngModel)]="editingVisitor.expectedVisitDateTime"
            name="expectedVisitDateTime"
          />
        </label>

        <!-- Companions Editing Section -->
        <div *ngIf="editingVisitor.companions?.length">
          <h4>Companions</h4>
          <div
            *ngFor="let companion of editingVisitor.companions; let i = index"
            class="companion-group"
          >
            <h5>Companion {{ i + 1 }}</h5>

            <label>
              Full Name:
              <input
                type="text"
                [(ngModel)]="companion.fullName"
                name="companionName{{ i }}"
                required
              />
            </label>

            <label>
              contact Number
              <input
                type="text"
                [(ngModel)]="companion.contactNumber"
                name="companioncontactNumber{{ i }}"
              />
            </label>

            <label>
              Email:
              <input
                type="email"
                [(ngModel)]="companion.email"
                name="companionEmail{{ i }}"
              />
            </label>
            <hr />
          </div>
        </div>

        <div class="modal-actions">
          <button type="submit" class="btn-save">Save Changes</button>
          <button type="button" class="btn-cancel" (click)="cancelEdit()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- View Popup Modal -->
  <div class="view-modal" *ngIf="viewingVisitor">
    <div class="view-modal-content">
      <h3>Visitor Details</h3>
      <div class="view-field">
        <strong>Name:</strong> {{ viewingVisitor.fullName }}
      </div>
      <div class="view-field">
        <strong>Email:</strong> {{ viewingVisitor.email }}
      </div>
      <div class="view-field">
        <strong>Phone:</strong> {{ viewingVisitor.phoneNumber }}
      </div>
      <div class="view-field">
        <strong>Address:</strong> {{ viewingVisitor.address }}
      </div>
      <div class="view-field">
        <strong>Company:</strong> {{ viewingVisitor.companyName }}
      </div>
      <div class="view-field">
        <strong>Purpose:</strong> {{ viewingVisitor.purpose }}
      </div>
      <div class="view-field">
        <strong>Comment:</strong> {{ viewingVisitor.comment }}
      </div>
      <div class="view-field">
        <strong>ID Type:</strong> {{ viewingVisitor.idProofType }}
      </div>
      <div class="view-field">
        <strong>ID Number:</strong> {{ viewingVisitor.idProofNumber }}
      </div>
      <div class="view-field">
        <strong>License Plate:</strong> {{ viewingVisitor.licensePlateNumber }}
      </div>

      <!-- Companions Section -->
      <div class="view-field" *ngIf="viewingVisitor.companions?.length">
        <strong>Companions:</strong>
        <div
          *ngFor="let companion of viewingVisitor.companions; let i = index"
          class="companion-details"
        >
          <div><strong>Companion {{ i + 1 }}</strong></div>
          <div><strong>Full Name:</strong> {{ companion.fullName }}</div>
          <div>
            <strong>Contact Number:</strong> {{ companion.contactNumber }}
          </div>
          <div><strong>Email:</strong> {{ companion.email }}</div>
          <hr />
        </div>
      </div>

      <div class="view-field">
        <strong>Pass Code:</strong> {{ viewingVisitor.passCode }}
      </div>

      <div class="view-field" *ngIf="qrData">
        <strong>QRCode:</strong>
        <qrcode
          [qrdata]="qrData"
          [width]="250"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
      </div>

      <div class="view-field">
        <strong>Pre-Registered:</strong> {{ viewingVisitor.isPreRegistered ?
        'Yes' : 'No' }}
      </div>
      <div class="view-field">
        <strong>Expected Visit Time:</strong> {{
        viewingVisitor.expectedVisitDateTime | date:'short' }}
      </div>
      <div class="view-field" *ngIf="viewingVisitor.visits?.length">
        <strong>Host:</strong> {{ viewingVisitor.visits[0].hostName || 'N/A'
        }}<br />
        <strong>Status:</strong> {{ viewingVisitor.visits[0].visitStatus ||
        'N/A' }}<br />
        <strong>Check-In:</strong> {{ viewingVisitor.visits[0].checkInTime |
        date:'short' }}<br />
        <strong>Check-Out:</strong> {{ viewingVisitor.visits[0].checkOutTime ?
        (viewingVisitor.visits[0].checkOutTime | date:'short') : 'Yet to
        checkout' }}
      </div>

      <div class="modal-actions">
        <button class="btn-close" (click)="closeViewModal()">Close</button>
      </div>
    </div>
  </div>
</div>
