<div class="manage-hosts-container">
  <h2>Manage Hosts</h2>

  <form [formGroup]="hostForm" (ngSubmit)="onSubmit()" class="host-form">
    <input type="text" placeholder="Full Name" formControlName="fullName" />
    <input type="email" placeholder="Email" formControlName="email" />
    <input
      type="text"
      placeholder="Contact Number"
      formControlName="phoneNumber"
    />
    <!-- <input type="text" placeholder="Department Id" formControlName="departmentId" /> -->
    <select formControlName="departmentId">
    <option value="" disabled selected>Select department</option>
    <option *ngFor="let dept of departments" [value]="dept.departmentId">
      {{ dept.departmentName }}
    </option>
  </select>

    <div class="actions">
      <button type="submit">
        {{ editingId !== null ? 'Update' : 'Add Host' }}
      </button>
      <button type="button" (click)="cancelEdit()" *ngIf="editingId !== null">
        Cancel
      </button>
    </div>
  </form>

  <table class="host-table">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let host of hosts; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ host.fullName }}</td>
        <td>{{ host.email }}</td>
        <td>{{ host.phoneNumber }}</td>
        <td>{{ host.departmentName }}</td>
        <td>
          <button class="edit" (click)="editHost(host)">Edit</button>
          <button class="delete" (click)="deleteHost(host.hostId)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
